body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    background-image: url("../img/bg1.jpg");
    background-size: cover;
}

* {
    outline: none;
}

.debug {
    border: 1px solid red;
}

.quiz-container {
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    padding: 30px 30px;
    background-size: cover;

    p, h1 {
        text-align: center;
        font-weight: bold;
        width: 80%;
        margin: auto;
    }

    p {
        border-bottom: 1px solid black;
        padding: 30px;
        margin: 0 auto 30px auto;
    }
}
.btn-container {
    text-align: center;
}
button {
    padding: 10px;
    min-width: 200px;
    align-self: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    letter-spacing: 2px;
    background-color: rgba(0,0,0,0.3);
    -webkit-box-shadow: 2px 3px 5px 0px rgba(240, 240, 240, 0.75);
    box-shadow: 2px 3px 5px 0px rgba(240, 240, 240, 0.75);
}

.question {
    font-weight: bold;
}

.answer {
    padding: 5px;
}

.register-container {
    width: 80%;
    min-height: 100vh;
    margin: auto;
    box-sizing: border-box;
    padding: 30px;
    text-align: center;

    h3 {
        text-align: center;
    }

    .label {
        min-width: 150px;
        display: inline-block;
        margin-left: 50px;
    }

    input {
        padding: 10px;
        text-align: center;
        border-radius: 20px;
        border: none;
        -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75) inset;
        box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75) inset;
    }
}

.results-container {
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    padding: 30px;

    p {
        text-align: left;
    }

    .review-container {
        text-align: center;

        input {
            -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75) inset;
        box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75) inset;
        }
    }

    .review-input {
        width: 80%;
        padding: 10px;
        min-height: 100px;
        min-width: 150px;
    }
}

@media (max-width: 550px) {
    .quiz-container {
        width: 100%;
        margin: auto;
        padding: 30px;
        box-sizing: border-box;
    }

    .register-container {
        width: 100%;
        margin: auto;
        box-sizing: border-box;
        padding: 30px;

        .label {
            text-align: center;
            padding: 0 10px;
            display: inline-block;
            width: 100%;
            min-width: 50px;
            margin-left: 0;
        }
    }

    .results-container {
        width: 100%;
        margin: auto;
        box-sizing: border-box;
        padding: 30px;
    }
}
